IO_LOC  "sys_clk"   V22;
IO_PORT "sys_clk"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


IO_LOC  "C2339_4_C20"	C20;
IO_PORT "C2339_4_C20"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC  "C2400_4_W21"	W21;
IO_PORT "C2400_4_W21"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC  "BTB9900_4_V19"	V19;
IO_PORT "BTB9900_4_V19" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//;IO_LOC "UART_RXD" V14;
//IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;

IO_LOC "UART_TXD" U15;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;
